[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
awscli = "*"
flask-cors = "*"
mysql-connector = "*"
flask = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
